div.pozadie{background-image: url("../obrazky/obr.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:local;
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 1% ;
    font-size: 200px;
    padding-bottom: 17%;
    font-family: 'Courier New', Courier, monospace;
    }

    h1.vrch-pozadie{ font-size: 10vw;
        text-align: center;
        color: rgb(255, 255, 255);
        margin-top: 13%;
    }